:root{
    --main-colour: #3E0758;
    --secondary-colour: #69436c;
}


/* Header Section */

.header-bg{
    min-height: 100vh;
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    position: relative;
}

.header-text{
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-colour);
    z-index: 2;
    text-align: center;
}

.header-text .h1{
    font-weight: 900;
}

.header-text .button{
    color: var(--main-colour);
    border-color: var(--main-colour);
}


.header-text .button:hover{
    color: var(--main-colour);
    border-color: var(--main-colour);
}


/* Registration Section */

.registration-section{
    height: 100vh;
    background: rgb(209,199,231);
    background: linear-gradient(90deg, rgba(209,199,231,1) 0%, rgba(200,194,228,1) 10%, rgba(225,206,233,1) 70%); 
}

.form-title{
    color: var(--main-colour);
    text-align: center;
}

input:-webkit-autofill{
    transition: background-color 5000s ease-in-out 0s !important;
}